.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 350px;
    border-radius: 20px;
    /* 设置毛玻璃效果 */
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.code:hover {
    color: #EA516E;
}